// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


// Change Default Colors
$blue:    		#217ff2;
$cyan:   		#00dfff; 

// Custom Color Options
$white:     #ffffff;
$light-blue-grey:    	#eef4f5;
$middle-blue-grey:		#c6d1df;
$dark-blue-grey:		#8b9198;
$dark-blue:				#062d4c;
$black-blue:			#021021;

$brand-primary:     $blue;
$brand-secondary:		$dark-blue;
$brand-accent:			$cyan;


// Typography
$font-family-sans-serif: 		'Montserrat', sans-serif;
$font-family-sans-serif-alt: 	'Raleway', sans-serif;
$headings-font-weight: 			300;
$font-light: 			 		100;
$font-normal: 			 		300;
$font-bold: 					500;
$small-font-size: 85%;

$headings-color:         $dark-blue;

// Helpers
$enable-shadows:            true;
$enable-gradients:          true;
$enable-hover-media-query:  true;

// This variable affects the `.h-*` and `.w-*` classes.

$spacer: 1.8rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4),
  7: ($spacer * 5),
  8: ($spacer * 6),
  9: ($spacer * 7),
  10: ($spacer * 8)
);


$sizes: (
	10: 10%,
	15: 15%,
	25: 25%,
	50: 50%,
	75: 75%,
  85: 85%,
  95: 95%,
	100: 100%
	);

// Shadows
$el-1: 0 0 1px rgba(22,22,34,.11),0 1px 2px rgba(22,22,34,.22);
$el-2: 0 0 2px rgba(22,22,34,.12),0 2px 4px rgba(22,22,34,.24);
$el-3: 0 0 3px rgba(22,22,34,.13),0 3px 6px rgba(22,22,34,.26);
$el-4: 0 0 4px rgba(22,22,34,.14),0 4px 8px rgba(22,22,34,.28);
$el-5: 0 0 5px rgba(22,22,34,.15),0 5px 10px rgba(22,22,34,.30);
$el-6: 0 0 6px rgba(22,22,34,.16),0 6px 12px rgba(22,22,34,.32);
$el-7: 0 0 7px rgba(22,22,34,.17),0 7px 14px rgba(22,22,34,.34);
$el-8: 0 0 14px rgba(22,22,34,.24),0 14px 28px rgba(22,22,34,.48);
$el-9: 0 0 18px rgba(22,22,34,.28),0 18px 32px rgba(22,22,34,.52);


// box-shadow:0 0 1px rgba(0,0,0,.11),0 1px 2px rgba(0,0,0,.22)
// box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)
// box-shadow:0 0 3px rgba(0,0,0,.13),0 3px 6px rgba(0,0,0,.26)
// box-shadow:0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)
// box-shadow:0 0 5px rgba(0,0,0,.15),0 5px 10px rgba(0,0,0,.30)
// box-shadow:0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32)
// box-shadow:0 0 7px rgba(0,0,0,.17),0 7px 14px rgba(0,0,0,.34)
// box-shadow:0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36)
// box-shadow:0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48)


// box-shadow:0 0 3px rgba(0,0,0,.13),0 3px 6px rgba(0,0,0,.26)
// box-shadow:0 0 5px rgba(0,0,0,.15),0 5px 10px rgba(0,0,0,.3)
// box-shadow:0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)

// box-shadow:inset 0 1px 0 #e0e0e0
// box-shadow:inset 0 0 24px rgba(0,0,0,.0625)
// box-shadow:inset 0 0 2px rgba(0,0,0,.12),inset 0 2px 4px rgba(0,0,0,.24)
// box-shadow:inset 0 -8px 8px -8px rgba(0,0,0,.07),inset 0 8px 8px -8px transparent
// box-shadow:inset 0 -8px 8px -8px transparent,inset 0 8px 8px -8px rgba(0,0,0,.07)
// box-shadow:inset 0 -8px 8px -8px rgba(0,0,0,.07),inset 0 8px 8px -8px rgba(0,0,0,.07)


// Body
//
// Settings for the `<body>` element.
$body-bg:       $light-blue-grey;
$body-color:    $dark-blue-grey;

// Links
//
// Style anchor elements.
$link-hover-decoration: none;


// Navigation
//
$nav-link-padding-y:            1rem;
